.header {
    background: var(--gray-700);
    width: 100%;
    height: 12.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header img {
    height: 2.25rem;
    width: 1.375rem;
}

.to {  
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 900;
    margin-left: 0.75rem;  
}

.do {
    color: var(--purple);
    font-size: 2.5rem;
    font-weight: 900;
}