.taskForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
 }
 
 .taskForm input[type=text] {
     background: var(--gray-500);
     color: var(--gray-300);
     width: 100%;
     padding: 1rem;
     border: 1px solid var(--gray-700);
     border-radius: 8px;
     flex-grow: 0;
 }
 
 .taskForm input[type=text]:focus {
     outline: transparent;
     box-shadow: 0 0 0 2px var(--purple-dark);
     color: var(--gray-100);
 }
 
 .taskForm button[type=submit] {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 0.5rem;
 
     background: var(--blue-dark);
     color: var(--gray-100);
     font-size: 0.875rem;
     border-radius: 8px;
     padding: 1rem;
     border: none;
 
     transition: 0.1s;
 }
 
 .taskForm button[type=submit]:hover {
     background: var(--blue);
 }

.taskCountWrapper {
   margin-top: 4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.createdTasks {
    color: var(--blue);
    font-size: 0.875rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.countCreatedTasks {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
}

.doneTasks {
    color: var(--purple);
    font-size: 0.875rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.countDoneTasks {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
}

.taskListWrapper {
    margin-top: 1.5rem;
    
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


